{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>TEAM_ONE_BETA</title>
</head>
<body>
    <div id="header-bar">
        <div class="logo header-content">
            <a href="/"><img src="static/images/logo.png" height=50px></href>
        </div>

        <div class="menu-bar header-content" style="right: 200px;">
            <ul>
                <li class>
                    <a href="{% url 'schoolIn' %}">교내</a>
                </li>
                <li class>
                    <a href="{% url 'schoolOut' %}">교외</a>
                </li>
                <div class="register">
                    <a href="{javascript:insertPopup()";>회원 가입</a>
                </li>
            </ul>
        </div>
    </div>

    <script src="static/js/main.js"></script>
</body>
</html>