@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');

body {
    margin: 0;
    padding: 0;

    font-family: 'Nanum Square', sans-serif;
}

.signup-container {
    width: 180px;
    height: 100px;

    /* 가로 가운데 정렬 */
    margin: 0 auto;

    position:absolute;
    left:50%;
    top:50%;

    margin-left: -90px;
    margin-top: -110px;
}

.signup {
    margin-bottom: 2px;
}